body {
font-family: 'Times New Roman', Times, serif ;  

}

input,
select,
label {
  width: 400px;
  display: block;
}

.radio {
  display: inline;
}

.radio {
  color: rebeccapurple
}